// Add your custom CSS here.
.header {
    background-color: #000;
    * {
        color: #ccc
    }
    &__category {
        font-weight: bold !important;
        font-size: 19px !important;
        &:hover {
            color: #fff;
        }
    }
    &__submenu {
        background-color: #000;
        margin-top: 13px;
        grid-template-rows: repeat(auto-fit,minmax(30%,1fr));
        grid-template-columns: unset !important;
        min-width: 200px;
        div {
            width: 100%;
            &:hover {
                background-color: #089c26;
            }
        }
    }
    
}
.top-bar__nav {
    display: none !important;
}
@media (min-width: 576px) {
    .header__logo {
      max-height: 100px;
    }
}
 
.product-card__name {
    font-size: 20px !important;
    color: #949494;
    &:hover {
        color: #089c26;
    }
}
.product-card {
    text-align: center;
    .prices__value {
        color: #089c26;
        font-size: 19px;
        margin-bottom: 5px;
    }
    .prices__discount {
        font-size: 21px;
        span {
            font-weight: bold;
            padding: 5px;
            background: #4aba00;
            margin-right: 5px;
        }
        &::after {
            content: 'ou no Boleto';
        }
    }
}

.product__prices {
    .prices__value {
        font-size: 15px;
        color: #067c1e;
    }

    .prices__discount {
        span {
            font-size: 40px;
            color: #4aba00;
            font-weight: bold;
            &::after {
                content: '(-5%)';
                color: #560d0e;
            }
        }
        .prices__discount-label::after {
            content: 'ou Boleto';
        }
    }
}

.product__discount {
    display: none;
}

.product-card {
    border: 1px solid #a1a1a1;
}

.products-carousel__title {
    a::after, span::after {
        color: #089c26 !important;
        content: " + Ver mais";
        font-size: .8rem;
        font-weight: 700;
        padding: .5rem;
    }
    text-align: left;
    span {
        font-weight: bold;
    }
}

.login-modal__box {
    * {
        color: #000;
    }
}
.products-carousel__title a {
    font-weight: bold;
}

.ecom-credits{
    display: none;
}
